<app-navbar></app-navbar>

<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card shopping-cart" style="border-radius: 15px;">
                    <div class="card-body text-black">

                        <div class="row">
                            <div class="col-lg-12 px-5 py-4">

                                <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Your products</h3>

                                <div id="products">

                                    <div *ngIf="productsList.length > 0">
                                        <div *ngFor="let product of productsList"
                                            class="d-flex align-items-center mb-5">
                                            <div class="flex-shrink-0">
                                                <img src="{{product.image}}" class="img-fluid" style="width: 150px;"
                                                    alt="Generic placeholder image">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <!-- onclick="removeItem({product.serie})" -->
                                                <a class="float-end text-black" style="cursor:pointer"><i
                                                        class="fas fa-times"></i></a>
                                                <h5 class="text-primary">{{product.name}}</h5>

                                                <div class="d-flex align-items-center">
                                                    <p class="fw-bold mb-0 me-5 pe-3">{{product.price}} DT </p>
                                                    <div class="def-number-input number-input safari_only">
                                                        <!-- onclick="down({product.serie})" -->
                                                        <button class="minus"></button>

                                                        <input class="quantity fw-bold text-black" min="1"
                                                            name="quantity" id="quantity-{product._id}"
                                                            value="{{product.qte}}" type="number" readonly>
                                                        <!-- onclick="add({product.serie})" -->
                                                        <button class="plus"></button>
                                                    </div>
                                                    <p class="fw-bold mb-0 me-5 pe-3">{{product.price * product.qte}} DT
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="productsList.length == 0" class="alert alert-warning" role="alert">
                                        There is no products in cart !
                                    </div>

                                </div>

                                <hr class="mb-4" style="height: 2px; background-color: #1266f1; opacity: 1;">

                                <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #e1f5fe;">
                                    <h5 class="fw-bold mb-0">Total:</h5>
                                    <h5 class="fw-bold mb-0" id="total">{{totalTag}}</h5>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>